
body {
    background-color: #1f2022;
    color: #c1c0c0;
}

main {
    padding: 5em;
}

.tracker-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80em
}

.day {
    border: 1.5px solid white;
    padding: 0.5em;
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: column
}

/* First seven borders should be white and the rest grey */
.day:nth-child(n+8) {
    border-color: grey;
}

.nothing {
    color: darkred;
}


/***** MODAL DIALOG ****/
#modal {
    /* Underlay covers entire screen. */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    /* Flexbox centers the .modal-content vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Animate when opening */
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal h1 {
    text-align: center;
}

.form-item {
    display: flex;
    margin-bottom: 1em;
}

.form-item > label {
    flex: 1;
}

.form-item > button {
    flex: 1;
    margin-top: 0.5em;
    font-size: 0.6em;
    padding: 0.5em;
    text-transform: uppercase;
    color: white;
}

.form-item button:first-of-type  {
/*    cancel */
    background: #700000;
}
.form-item button:last-of-type  {
/*    submit */
    background: #287d28;
}

#modal > .modal-underlay {
    /* underlay takes up the entire viewport. This is only
    required if you want to click to dismiss the popup */
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#modal > .modal-content {
    /* Position visible dialog near the top of the window */
    margin-top: 10vh;

    /* Sizing for visible dialog */
    width: 80%;
    max-width: 600px;

    /* Display properties for visible dialog*/
    border: solid 1px #999;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color: #1f2022;
    padding: 20px;

    /* Animate when opening */
    animation-name: zoomIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing {
    /* Animate when closing */
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing > .modal-content {
    /* Animate when closing */
    animation-name: zoomOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

@media (width <= 50em) {
    main {
        padding: 0;
        font-size: 1.5em;
    }
    .day {
        width: calc(50vw - 1em - 11px);
    }

    #modal {
        font-size: 1.5em;
    }
}
